$def with (page)

<!DOCTYPE html>
<html>
<head>
    <title>Todo list</title>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/todo.js"></script>
    <link rel="stylesheet" href="static/css/todo.css">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <meta charset="utf-8">

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Project name</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container">

$:page
    <footer>
        <p>&copy; Company 2013</p>
    </footer>

</div> <!-- /container -->
</body>
</html>